@import '~bootstrap/dist/css/bootstrap.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

@import './assets/css/global.css';
// @import './assets/css/admin.css';
// @import './assets/css/cadastro.css';
@import './assets/css/institucional.css';
@import './assets/css/profissional.css';

// Ajustando layout do prime
.p-panelmenu .p-panelmenu-header > a {
    border: 0;
    background: transparent;
}

.p-inputtext, .p-dropdown {
    border: 0;
    background: transparent;
    display: inline-block;
    width: 100%;
    height: 42px;
    margin-top: 5px;
    padding: 0px 10px;
    color: var(--brown);
}

.p-inputtext:enabled:focus, .p-dropdown:not(:disabled).p-focus {
    box-shadow: none;
    border-color: transparent;
}

label button { 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    margin-left: 3px;
    background-color: var(--black); 
    color: #fff; 
    font-size: 18px; 
    text-align: center; 
    line-height: 40px; 
    border-radius: 10px; 
    vertical-align: middle; 
}